footer
  .container.text-center
    p.pull-left © Go OpenSource
    a.github-button.float-right(href="https://github.com/taufikdev88/simplewhatsappapi", data-icon="octicon-star", data-show-count="true", aria-label="Star taufikdev88/simplewhatsappapi on GitHub") Star